@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

.postContainer{
    margin: 10px;
    border-radius: 10px;
    border:1px solid #B4B8AB;
    background: linear-gradient(to bottom,
        #2b3252 0%, 
        #2b3252 20%, 
        #ffffff 20%, 
        #ffffff 100%
    );
}

.marginForText{
    margin: 2%;
    color: #FAD744;
}

.title{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background-color: #2b3252;
}

.post-body{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    margin: 5%;
}
