<!-- Site Container is used so we can lock scrolling for the entire screen -->
<body id = "siteContainer">
  
  <div *ngIf="auth.user$ | async as user; else login">
    <!-- <div *ngIf="user.displayName; else register"> -->
      <div class="container-fluid">
          <div> 
              <h1>Social Media Site</h1> 
              <button class="draw meet float-right" (click)="auth.signOut()">Sign Out</button>
            </div> 
          </div>
        
          <pre>
            {{ user | json }}
          </pre>
      
          <div class ="container">
            <div class = "row d-flex justify-content-center">
              <div class="col-md-6">
                  <!-- <button class = "draw meet" (click)="showPostCreation()" >New Post</button> -->
                  <button class = "draw meet" routerLink="newPost/{{user.username}}" routerLinkActive="active">New Post</button> 
              </div>      
            </div>
          </div>
          
          <div class ="container">
              <div class = "row">
                <div class = "col-md-6">
                    Post Topic: <input type="text" placeholder="Search for Topic" id="searchBar" (keypress)="search($event)"><br>
                </div>
              </div>
          </div>

          <!-- <div  *ngIf="createPostFlag==true">
            <app-new-post username = {{user.displayName}} (notify)="createPost($event)"></app-new-post>
          </div> -->

          

          <div class="allPostContainer">
 
              <app-post-container username = {{user.displayName}} class="allPostContainer" (notify)="openPost($event)"></app-post-container>
          </div>
    <!-- </div>  

    <ng-template #register>
       <div class="usernameBackground"> 
    

        <app-username-creator userID={{user.uid}}></app-username-creator>
      </div> 
    </ng-template> -->

  </div>

  
  <ng-template #login>

    <!-- <div class="container">
      <div class="row"> -->
        <!-- <div class="col align-self-end"> -->
          <button class="draw meet float-right" (click)="openRegistration()">Sign Up</button>
        <!-- </div>
      </div>
    </div> -->



    <div *ngIf="signIn==true">
      <app-registration (notify)="closeRegistration($event)"></app-registration>
    </div>

    <div class="allPostContainer">

        <app-post-container username = null class="allPostContainer" (notify)="openPost($event)"></app-post-container>
    </div>
  </ng-template>


  <router-outlet (activate)="componentAdded($event)" (deactivate)="componentRemoved($event)"></router-outlet>
</body>
