<div class="overlay">

    <div class="popup">

        <div *ngIf="openPost">

            <button (click)="closePost()" >Close Post</button>
            <h1>Author: {{ openPost.poster }}</h1>
            <h1>Title: {{ openPost.title}}</h1>
            <h1>Body: {{ openPost.body}}</h1>  
                    
                
                        <div *ngFor="let comment of openPostComments">
                                <h1>{{comment.poster}} Said</h1>
                                <h1>{{comment.commentBody}}</h1>
                                <h1>At {{comment.commentTime}}</h1>
                                <h1>Likes: {{comment.numLikes}}</h1>
                                <div *ngIf="auth.user$ | async as user">
                                    <button class="button" (click)="likeComment(comment,user.username)">Like Comment</button>
                                </div>
                                <h1>Replies:</h1>
                                <div *ngIf="auth.user$ | async as user">
                                    Post Reply : <input type="text" name="Body" id="commentReply"><br>
                                    <button class = "button" (click)="replyToComment(comment.commentId,user.username)">Reply</button>
                                </div>
                                <div *ngFor="let replies of comment.replies">
                                    <h1>{{replies.poster}} Said</h1>
                                    <h1>{{replies.commentBody}}</h1>
                                    <h1>At {{replies.commentTime}}</h1>
                                </div>

                                
                                <br>
                        </div>
                    
            <div *ngIf="auth.user$ | async as user">
                Post Comment : <input type="text" name="Body" id="commentBody"><br>
                <button class = "button" (click)="postComment(user.username)">Submit</button>
            </div>
        </div>
    </div>
</div>
